.page-title{
	border-bottom: 1px solid #eee;
	margin: -10px 0px 30px;
	color: #ffffff;
	background-color: #0489B1;
}

.page-title h1{
	padding-left: 60px;
	font-size: 30px;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
  .page-title {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}