.title-bar{
	border-bottom: 1px solid #eee;
	margin: -10px 0px 30px;
	color: #ffffff;
	background-color: #04B4AE;
}

.title-bar h1{
	padding-left: 60px;
	font-size: 30px;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
  .title-bar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.page-title{
	padding-bottom: 9px;
	font-size: 28px;
	border-bottom: 1px solid #eee;
}

.page-lead{
	padding-top: 10px;
}

.footer{
	
	padding:30px 0;
	margin-top:70px;
	border-top:1px solid #e5e5e5;
	background-color:#f5f5f5
}

footer small figure{
	float: left;
	padding: 0 0 0 25px;
	max-width: 100px
}
footer small p{
	padding: 0 0 0 150px;
}
.navigation > li > a { color: #898989; text-transform: uppercase; font-family: "Raleway", sans-serif; font-size: 14px; text-decoration: none; height: 80px; display: inline-block; position: relative; padding-right: -10px; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; perspective: 1000px; color: #2a2a2a;
}
.navigation > li > a > span.label-nav-sub { float: left; line-height: 20px; width: 100%; clear: both; font-size: 12px; color: #bcbcbc; display: inline-block; position: relative; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; perspective: 1000px; text-transform: capitalize;
} .navigation > li > a > span.label-nav-sub::before { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; content: attr(data-hover); -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; transition: opacity 0.3s; -webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg); -ms-transform: rotateX(-90deg); transform: rotateX(-90deg); -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; opacity: 0;
} .navigation > li:hover > a > span.label-nav-sub,
.navigation > li:hover > a > span.label-nav-sub { -webkit-transform: rotateX(90deg) translateY(-22px); -moz-transform: rotateX(90deg) translateY(-22px); -ms-transform: rotateX(90deg) translateY(-22px); -o-transform: rotateX(90deg) translateY(-22px); transform: rotateX(90deg) translateY(-22px); -ms-transform: none;
} .ie10 .navigation > li:hover > a > span.label-nav-sub,
.ie10 .navigation > li:hover > a > span.label-nav-sub { transform: none;
} .navigation > li:hover > a > span.label-nav-sub::before, .navigation > li:hover > a > span.label-nav-sub::before { color: #279fbb; opacity: 1; opacity: 0\9;
} .navigation > li > .activelink span.label-nav-sub { color: #585858;
} .navigation > li:last-child > a { margin-right: 0; padding-right: 0;
} /* set all LI to relative */
