


/* 
 *  title bar
 */
.title-bar-bg{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #eee;
	margin: -20px 0px 30px;
	background-color: #04B4AE;
	z-index: -10;
}


.title-bar h1{
	font-family: "Raleway";
	padding-left: 110px;
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 15px;
	color: #ffffff;
}

@media screen and (min-width: 768px) {
  .title-bar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


/*
 *  context
 */
.context{
}


.page-title{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 28px;
	clear: left;
}

.page-i{
	border-bottom: 1px solid #eee;
	width: 50%;
	
}
.page-i.center{
	margin: 0 auto 10 auto;
}

.page-lead{
	padding-top: 20px;
	padding-bottom: 70px;
}

.divider-shadow { 
	background-image: url("/assets/images/divider-shadow.png");
	border-bottom: none;
	margin: 40px 0 20px 0; 
	height: 20px;
	background-repeat: no-repeat; 

}

.footer{
	padding:15px 0 0 0;
	margin-top:70px;
	border-top:1px solid #e5e5e5;
	background-color:#f5f5f5
}

.footer p{
	margin: 0 0 -8 0;
}

.footer p.padding{
	margin: 0 0 2 0;
}


/* 
 *  footer
 */


footer small figure{
	float: left;
	padding: 0 0 0 25px;
	max-width: 100px
}
footer small p{
	text-align: center;
	padding: 0 0 0 150px;
}



/* 
 *  navigation text
 */


a.dropdown-toggle > span{
	text-align: center;
}



/* 
 *  navigation animation
 */


.navigation > li > a { color: #898989; text-transform: uppercase; font-family: "Raleway", sans-serif; font-size: 14px; text-decoration: none; height: 100px; display: inline-block; position: relative; padding-right: -10px; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; perspective: 1000px; color: #2a2a2a;
}
.navigation > li > a > span.label-nav { float: left; line-height: 20px; display: block; width: 100%; clear: both; margin: 25px 0 0 0;
}
.navigation > li > a > span.label-nav-sub { float: left; line-height: 20px; width: 100%; clear: both; font-size: 12px; color: #bcbcbc; display: inline-block; position: relative; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; perspective: 1000px; text-transform: capitalize;
} 
.navigation > li > a > span.label-nav-sub::before { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; content: attr(data-hover); -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; transition: opacity 0.3s; -webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg); -ms-transform: rotateX(-90deg); transform: rotateX(-90deg); -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; opacity: 0;
} 
.navigation > li:hover > a >span.label-nav{
	color: #04B4AE;
}
.navigation > li:hover > a > span.label-nav-sub,
.navigation > li:hover > a > span.label-nav-sub { -webkit-transform: rotateX(90deg) translateY(-22px); -moz-transform: rotateX(90deg) translateY(-22px); -ms-transform: rotateX(90deg) translateY(-22px); -o-transform: rotateX(90deg) translateY(-22px); transform: rotateX(90deg) translateY(-22px); -ms-transform: none;
} .ie10 .navigation > li:hover > a > span.label-nav-sub,
.ie10 .navigation > li:hover > a > span.label-nav-sub { transform: none;
} .navigation > li:hover > a > span.label-nav-sub::before, .navigation > li:hover > a > span.label-nav-sub::before { color: #279fbb; opacity: 1; opacity: 0\9;
} .navigation > li > .activelink span.label-nav-sub { color: #585858;

} /* set all LI to relative */

.hover_menu > li:hover >a {
	color: #04B4AE;
}

.navbar-brand{
	color: #000;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #088A85;
}



/* 
 *  profile circular
 */
.person{
	clear: left;
	margin-bottom: 10px;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.profile{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	list-shadow: 3px 3px 2px #ccc; 
	-moz-list-shadow: 3px 3px 2px #ccc; 
	-webkit-list-shadow: 3px 3px 2px #ccc; 
	-khtml-list-shadow: 3px 3px 2px #ccc; 
}

.profile.host{
	width: 180px;
	height: 180px;
	margin: 0;
}

/*
 * side nav
 */

.side-nav > li > a{
	color: #bbb; 
}

.side-nav > li:first-child{
	border-left: 2px solid #039b96;
	color: #000;
}


.side-nav > li:hover > a{
	color: #039b96; 
}

/*
 * switcher content
 */

.switcher-content{
	display: none;
}
a{
	cursor: pointer;
}


.center{
	text-align: center;
}

p{
	line-height: 200%;
}

/*
 *  for slide show
 */

.fadein{
	opacity: 0;
}


/*
 *  member content
 */

table{
	font-size: 14px;
}

table.member-content{
	table-layout:auto;
	list-style: none;
	word-wrap: break-word; 
	word-break: normal;
	margin-left: 10px;
	margin-top: 20px;
}

table.member-content-list{
	table-layout:auto;
	list-style: none;
	word-wrap: break-word; 
	word-break: normal;
	margin-left: 10px;
	margin-top: 20px;
}

table.member-content-list.wider td{
	padding: 5px;
}

table.member-content-list th{
	color: #04B4AE;
	min-width: 80px;
}

table.member-content td{
	line-height: 200%;
	padding-bottom: 10px;

}
table.member-content th{
	color: #04B4AE;
	padding-bottom: 10px;
}

table.member-content-lefthead td, table.member-content-lefthead th{
	padding: 12px;
}

table.member-content-lefthead th{
	color: #04B4AE;
}



.border-list{ 
 	-webkit-list-sizing: border-list; /* Safari/Chrome, other WebKit */
 	-moz-list-sizing: border-list;    /* Firefox, other Gecko */
 	list-sizing: border-list;         /* Opera/IE 8+ */
}


/* 
 * switch bottom
 */
ul.switch-list{
	white-space:nowrap;

}

ul.switch-list > li{
	display:inline;
	padding: 10px;
	border: 1px solid #04B4AE;
	margin: 10px;

}


.switch-list-selected,ul.switch-list > li:hover{
	cursor: pointer;
	display:inline;
	color: #fff;
	background-color: #04B4AE;
}

.switch-block.other{
	display: none;
}


body{
	font-family: "Raleway", "微軟正黑體";
}



.panel-title{
	position: relative;
	font-size: 16px;
	background-color: #04B4AE;
	padding: 11px 0 11px 0;
	margin: 0px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


/*
 * member panel
 */

.panel-title >li{
	color: #fff;
	display: inline;
	margin: 0 -4px 0 0;
	padding: 14px;
	border-right : 1px solid #fff;
	background-color: #04B4AE;
}

.panel-title >li:hover, .panel-title >li.selected{
	cursor: pointer;
	display: inline;
	color: #04B4AE;
	background-color: #fff;
}


.panel-content{
	margin: 3px 0 0 0;
	padding: 16px 0 80px 5px;
	border: 0px;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


.panel-block{
	display: none;
}

.panel-block.selected{
	display: block;
}

